@keyframes changeBackgroundColor {
    0% {
        box-shadow: 0 3px 32px 0 rgb(247, 5, 226);
        transition: 0.3s;
        border: 2px solid rgb(247, 5, 226);
        color: #f705e2;
    }
    25% {
        box-shadow: 0 3px 32px 0 rgb(66, 66, 248);
        transition: 0.3s;
        border: 2px solid rgb(66, 66, 248);
        color: #4242f8;
    }
    50% {
        box-shadow: 0 3px 32px 0  rgb(233, 236, 56);
        transition: 0.3s;
        border: 2px solid rgb(233, 236, 56);
        color: #e9ec38;
    }
    75% {
        box-shadow: 0 3px 32px 0  rgb(66, 66, 248);
        transition: 0.3s;
        border: 2px solid rgb(66, 66, 248);
        color: #4242f8;
    }
    100% {
        box-shadow: 0 15px 32px 0 rgb(247, 5, 226);
        transition: 0.7s;
        border: 2px solid rgb(247, 5, 226);
        color: #f705e2;
    }
}

body{
    background-color: rgb(58, 56, 56);
}
h1{
    font-size: 30px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}

.resul{
    height: 600px;
    padding-top: 200px;
    margin: 0 20px 0 20px;
}
h4{
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: #4242f8;
}
h5{
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
    color: #e9ec38;
}

.title{
    margin-top: 100px;
    height: auto;
    border-radius: 10px;
    animation: changeBackgroundColor 5s infinite;
}
.imagem{
    animation: quicar 0.7s cubic-bezier(.53, -0.03, .67, 1.06);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#joystick{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 700px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    justify-content: center;
    margin-top: 5vh;
}

.left{
    background-color: rgb(233, 236, 56);
    border-radius: 150px 10px 10px 150px;
}

#divAll{
    display: block;
}
#resultados{
    display: none;
}
.resul h2{
    font-size: 30px;
}

.botoes{
    width: auto;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
}
.botaoMaior{
    background-color: rgb(66, 66, 248);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 5px;
}
.botaoMenor{
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 20% 20%;
    justify-content: center;
    align-items: center;
}
.cima2, .baixo2, .centro1, .centro3{
    background-color: #4242f8;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 5px 7px 5px;
    justify-content: center;
}

.rigth{
    background-color: #f705e2;
    border-radius: 10px 150px 150px 10px;
}
.botaoMenorRigth{
    margin-top: 250px;
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 20% 20%;
}

.center{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#question{
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    color: white;
}
button{
    align-items: center;
}
#question-container{
    margin: 0px;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 70%;
    text-align: center;
    justify-content: center;
}

#question-container button{
    height: auto;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 100%;
    font-size: 20px;
}

h1{
    color:#e9ec38;
}

  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 0px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(66, 66, 248);
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  *, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }

@keyframes quicar {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(25%);
    }
}